@import "home.scss";
@import "settings.scss";

// MENU DEROULANT

@for $i from 1 through 10 {
  .foodCard--#{$i} {
    animation: show 400ms 200ms * $i;
    animation-fill-mode: forwards;
  }
}

@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

// LOADER

@keyframes visible {
  0% {
    visibility: visible;
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  100% {
    visibility: hidden;
    opacity: 0;
  }
}
.page {
  background: linear-gradient($color-secondary, $color-primary);
  height: 100vh;
  width: 100%;
  z-index: 3;
  position: fixed;
  text-align: center;
  color: white;
  line-height: 600px;
  font-size: 2.5rem;
  animation: visible 3s forwards;
  display: flex;
  justify-content: center;
  align-items: center;
}

.all {
  position: relative;
  top: 50px;
}

.cup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 150px;
  height: 160px;
  background: #fff;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.cup:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 30px;
  width: 100%;
  border-radius: 50%;
  background: #c16d31;
  border: 7px solid #fff;
  box-sizing: border-box;
  transform: translateY(-50%);
  box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.5);
}

.cup:after {
  content: "";
  position: absolute;
  top: 48%;
  right: -50px;
  height: 98px;
  width: 80px;
  border-radius: 50%;
  background: transparent;
  border: 12px solid #fff;
  box-sizing: border-box;
  transform: translateY(-50%);
}

.plate {
  width: 250px;
  height: 30px;
  border-bottom-left-radius: 40%;
  border-bottom-right-radius: 40%;
  background: #fff;
  position: absolute;
  top: 161px;
  transform: translateX(-50px);
}

.fume {
  margin: 0;
  padding: 0;
  position: absolute;
  top: -50px;
  transform: translateX(10%);
  width: 100%;
}

.fume .fumee {
  list-style: none;
  width: 2px;
  height: 40px;
  background: #fff;
  float: left;
  margin: 10px;
  animation: fumar 2s infinite linear;
}

@keyframes fumar {
  0% {
    transform: translateY(0);
    opacity: 1;
    filter: blur(3px);
  }
  100% {
    transform: translateY(-80px);
    opacity: 0;
    filter: blur(5px);
  }
}

.fume .fumee:nth-child(1) {
  animation-delay: 0.2s;
}
.fume .fumee:nth-child(2) {
  animation-delay: 0.6s;
}
.fume .fumee:nth-child(3) {
  animation-delay: 0.1s;
}
.fume .fumee:nth-child(4) {
  animation-delay: 0.6s;
}
.fume .fumee:nth-child(5) {
  animation-delay: 0.2s;
}

// // HEART ANIMATION

.heart_vide {
  opacity: 1;
  transition: 400ms;
  &:hover {
    opacity: 0;
  }
}
.heart_hover {
  opacity: 0;
  position: absolute;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from($color-primary),
    to($color-secondary)
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 400ms;
  &:hover {
    opacity: 1;
  }
}

// MENU CONFIRMED

.foodCard:hover {
  .foodCard__animation {
    width: 20%;
  }
  .fas.fa-check-circle {
    animation: rotate 0.5s forwards;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(-360deg);
  }
}
